body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EBE5D1;
}
header {
    background-color: #FFCD4B
;
    color: white;
    padding: 10px 0;
    text-align: center;
}
main {
    padding: 20px;
}
h1, h2 {
    color: #333;
}
section {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
footer {
    background-color: #4C4D54;
    color: #DAAA94;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}